footer
  div.footer-nav
  
  div.copywrite
    - var currentYear = new Date().getFullYear();
    p !{"© " + currentYear + " HAPPY HOURS"} 

//- Deferred scripts and styles

script(src="//code.jquery.com/jquery-2.1.1.min.js" defer)
script(src="/javascript/functions.js" defer)