head
  title Nomadlink
  link(rel="shortcut icon", href="/images/favicon.ico" type="image/x-icon")
  link(rel="icon", href="/images/favicon.ico" type="image/x-icon")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content="Display Nomad count for last month")
  
  link(rel="stylesheet", href="/css/styles.css")