extends ./layout.pug

block body
  div.container
    
    h1 Réservations Nomades

    h2.error
        != data.error 

    unless data.error

        h4 Ajouter une réservation
        form#addReservationForm(action="/add-reservation" method="post")
            div.input-wrapper
                label(for="name") Nom
                input#name(type="text" name="name" required)
            div.input-wrapper
                label(for="date") Date
                input#date(type="date" name="date" value=data.nextDayFormatted required)
            button(type="submit") Réserver


        select#month
            for tuple in months
                - var monthValue =  tuple.month.getMonth()+"-"+tuple.month.getFullYear()
                - var monthDisplay =  moment(tuple.month).format("MMM YYYY")
                option(value=monthValue selected=tuple.selected)
                    != monthDisplay

        canvas#myChart

        h4#count
             != data.nbDays + " réservations faites par " + data.nomads.length + " nomades"

        table#reservations
             for nomad in data.nomads
                 tr
                     td
                         != nomad.name
                     td
                         != nomad.count
                 tr
                     td(colspan=2) 
                         != nomad.reservations

        
